@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schoolbell&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff5722;
  color: white;
  margin: 0;
}

h1 {
  font-size: 5rem;
  margin: 1rem 0 3rem 0;
}

h2 {
  font-size: 1.6rem;
}

img {
  width: 100%;
  border: 1px solid white;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  margin: 0;
  z-index: -1;
  overflow: hidden; /* Add this line */
}

.hero img {
  width: 100%;
  height: auto;
}

.artwork-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin-top: 85vh;
}

.box {
  width: 380px;
  /* border: 1px solid white; */
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  /* background-color: rgb(205, 138, 138); */
}
